<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/images/icon32.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PGR Coatings</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
	<header>
		<%- include('./partials/header.ejs'); %>
	</header>
	<!-- i decided this is the best way to handle the form 
	split the file and make an obj/class to handle what needs to be displayed
	simplified the files and code but makes passing data to nested files a bit tricky
	check the controllers and FormLayout -->
	<main class="container">
			<% if (form.success)	{ %> <%- include("./partials/success.ejs", {inserted: form.res})      		%> <% } %>
			<% if (form.error)		{ %> <%- include("./partials/derror.ejs", {inserted: form.res})      		%> <% } %>
		<form action="" method="post">
			<% if (form.chara)		{ %> <%- include('./formPartials/charaForm.ejs'); 							%> <% } %>
			<% if (form.schara)		{ %> <%- include('./formPartials/selectChara.ejs', {names: form.data});		%> <% } %>
			<% if (form.scost)		{ %> <%- include('./formPartials/selectCostume.ejs', {names: form.data});   %> <% } %>
			<% if (form.costume)	{ %> <%- include('./formPartials/costumeForm.ejs'); 						%> <% } %>
			<% if (form.price)		{ %> <%- include('./formPartials/priceForm.ejs'); 							%> <% } %>
			<% if (form.event)		{ %> <%- include('./formPartials/eventForm.ejs', {disabled: form.disbled}); %> <% } %>
		<div class="row mt-1">
			<div class="col">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>	
		</form>
	</main>
	<script>
		function show() {
		  let form = document.getElementById("event_form");
		  form.querySelectorAll("input, select").forEach(item => item.disabled = false);
		  // // form.classList.pop()
		  return form.classList.remove("d-none");
		  // // let dis = document.getElementById("event_form");
		  // console.log(form)
		}
	</script>
</body>
</html>