<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="/images/icon32.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PGR Coatings</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
	<header>
		<%- include('./partials/header.ejs'); %>
	</header>
	<main class="container">
		<% if (typeof(newData) != "undefined") { %>
			<div class="row"><%- include("./partials/succ.ejs", {inserted: newData} ) %> </div>
		  <% } %>
		  <% if (typeof(errorData) != "undefined") { %>
			<div class="row"><%- include("./partials/derror.ejs", {inserted: errorData} ) %> </div>
		  <% } %>
		<form action="" method="post">
			<h3>Character:</h3>
			<div class="row">
			  <div class="col">
				<label for="chara_name" class="form-label">Character name</label>
				<input id="chara_name" type="text" class="form-control" name="charaName" placeholder="<%= cost.charaName %>" >
			  </div>
			  <div class="col">
				<label for="frame_name" class="form-label">Frame name</label>
				<input id="frame_name" type="text" class="form-control" name="frameName" placeholder="<%= cost.frameName %>">
			  </div>
			</div>
			<button type="submit" class="btn btn-primary mt-2">Submit</button>
		</form>
	</main>
</body>
</html>